<html>

    <head>
        <title>Capitalism!</title>
        <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.5/jquery.bxslider.css">
        <link rel="stylesheet" type="text/css" href="sliderStyles.css">
        <script src="app.js"></script>
        <style> .glyphicon-thumbs-up { cursor:pointer } </style>
    </head>
    <body ng-cloak ng-app="capitalism" ng-controller="MainCtrl">
        <div class="slider1">
            <div ng-repeat="film in films" class="slide">
                <h2 class="grow" style="height:100px; text-align: center">{{film.title}}</h2>
                <img class="grow" style="margin-right: 0; width: 100%; max-height: 300px" ng-src="data/poster-images/{{film.id}}.jpg">
            </div>
        </div>
    </body>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.5/jquery.bxslider.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular-animate.min.js"></script>
    <script type="text/javascript" src="sliderLogic.js"></script>
    <script src="app.js"></script>
</html>